* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased; }

input {
  outline: none;
  -webkit-appearance: none;
  -webkit-border-radius: none;
  border: 1px solid black;
  padding: 2px 5px;
  line-height: 18px; }

body {
  padding: 20px;
  font-family: 'Trebuchet MS'; }

.field-wrap {
  position: relative;
  float: left;
  width: 48%;
  margin-right: 2%; }

@-webkit-keyframes showCal {
  0% {
    -webkit-transform: perspective(1000px) rotateX(90deg) translateY(-100%); }

  30% {
    -webkit-transform: perspective(1000px) rotateX(70deg) translateY(0%); }

  65% {
    -webkit-transform: perspective(1000px) rotateX(-20deg) translateY(0%); }

  90% {
    -webkit-transform: perspective(1000px) rotateX(10deg) translateY(0%); }

  100% {
    -webkit-transform: perspective(1000px) rotateX(0deg) translateY(0%); } }
.picky {
  width: 100%;
  float: left; }
  .picky__container {
    width: 275px;
    position: absolute;
    top: calc(100%);
    right: 0;
    z-index: -1;
    -webkit-transform-origin: top center;
    background: #181818;
    -webkit-transform: perspective(1000px) rotateX(90deg) translateY(-100%);
    display: none; }
    .picky__container.active {
      -webkit-animation: showCal 1s linear;
      -webkit-transform: perspective(1000px) rotateX(0deg) translateY(0%);
      display: block; }
  .picky__header {
    text-align: center;
    color: #47b5b3;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    line-height: 40px; }
  .picky__nav {
    display: block;
    position: absolute;
    height: 18px;
    width: 18px;
    top: 9px;
    border-radius: 50%; }
    .picky__nav--next {
      right: 9px; }
      .picky__nav--next:after {
        content: '';
        position: absolute;
        top: 5px;
        left: 8px;
        border-left: 6px solid white;
        border-top: 6px solid transparent;
        border-bottom: 6px solid transparent; }
    .picky__nav--prev {
      left: 9px; }
      .picky__nav--prev:after {
        content: '';
        position: absolute;
        top: 5px;
        right: 8px;
        border-right: 6px solid #e5e4e4;
        border-top: 6px solid transparent;
        border-bottom: 6px solid transparent; }
  .picky__table {
    font-size: 12px;
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed; }
    .picky__table--cell, .picky__table--heading {
      color: #e5e4e4;
      padding: 11px 0;
      text-align: center;
      vertical-align: center;
      border: 1px solid #272725; }
    .picky__table--heading {
      color: #47b5b3;
      text-transform: uppercase;
      font-weight: bold;
      background: #272725; }
    .picky__table--cell {
      cursor: pointer; }
      .picky__table--cell.active {
        background: #47b5b3; }
      .picky__table--cell:hover {
        background: #47b5b3; }
      .picky__table--cell.disabled {
        cursor: default;
        background: #272725;
        color: #515150; }

/*# sourceMappingURL=style.css.map */
