// Reset

* {

	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;

	-webkit-font-smoothing: antialiased;

}

input {

	outline: none;
	-webkit-appearance: none;
	-webkit-border-radius: none;

	border: 1px solid black;
	padding: 2px 5px;

	line-height: 18px;

}

body {

	padding: 20px;
	font-family: 'Trebuchet MS';

}

.field-wrap {

	position: relative;
	float: left;
	width: 48%;
	margin-right: 2%;
    
}

// Actual Styles

$picky_primary: #47b5b3;
$picky_bg: #181818;
$picky_font: #e5e4e4;
$picky_arrow: #FFF;
$picky_disabled_bg: #272725;
$picky_disabled_font: #515150;

@-webkit-keyframes showCal {

	0% {

		-webkit-transform: perspective(1000px) rotateX(90deg) translateY(-100%);

	}

	30% {

		-webkit-transform: perspective(1000px) rotateX(70deg) translateY(0%);

	}

	65% {

		-webkit-transform: perspective(1000px) rotateX(-20deg) translateY(0%);

	}

	90% {

		-webkit-transform: perspective(1000px) rotateX(10deg) translateY(0%);

	}

	100% {

		-webkit-transform: perspective(1000px) rotateX(0deg) translateY(0%);

	}

}

.picky {

	width: 100%;
	float: left;

	&__container {

		width: 275px;
		position: absolute;
		top: 100%;
		right: 0;

		background: $picky_bg;

		display: none;

		&.active {

			display: block;

		}

		@for $i from 1 through 10 {

			&--#{$i} {

				right: -#{$i * 275px};

			}

		}



	}

	&__header {

		text-align: center;
		color: $picky_primary;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 14px;
		line-height: 40px;
		margin-bottom: 0px;

	}

	&__nav {

		display: block;
		position: absolute;
		height: 18px;
		width: 18px;

		top: 9px;
		border-radius: 50%;

		&--next {

			right: 9px;

			&:after {

				content: '';
				position: absolute;
				top: 5px;
				left: 8px;

				border-left: 6px solid $picky_arrow;
				border-top: 6px solid transparent;
				border-bottom: 6px solid transparent;

			}

		}

		&--prev {

			left: 9px;

			&:after {

				content: '';
				position: absolute;
				top: 5px;
				right: 8px;

				border-right: 6px solid $picky_arrow;
				border-top: 6px solid transparent;
				border-bottom: 6px solid transparent;

			}

		}
	}

	&__table {

		font-size: 12px;
		width: 100%;
		border-collapse: collapse;
		table-layout: fixed;

		&--cell, &--heading {

			color: $picky_font;
			padding: 11px 0;
			text-align: center;
			vertical-align: center;
			border: 1px solid $picky_disabled_bg;

		}

		&--heading {

			color: $picky_primary;
			text-transform: uppercase;
			font-weight: bold;
			background: $picky_disabled_bg;

		}

		&--cell {

			cursor: pointer;

			&.active {

				background: $picky_primary;

			}

			&:hover {

				background: $picky_primary;

			}

			&.disabled {

				cursor: default;
				background: $picky_disabled_bg;
				color: $picky_disabled_font;

			}

		}

	}

	&__close {

		background: $picky_disabled_bg;
		color: $picky_primary;
		display: block;
		font-size: 12px;
		font-weight: bold;
		padding: 5px;
		text-align: center;
		text-transform: uppercase;

	}

}