// Reset

* {

	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;

	-webkit-font-smoothing: antialiased;

}

input {

	outline: none;
	-webkit-appearance: none;
	-webkit-border-radius: none;

	border: 1px solid black;
	padding: 2px 5px;

	line-height: 18px;

}

body {

	padding: 20px;
	font-family: 'Trebuchet MS';

}

.field-wrap {

	position: relative;
	float: left;
	width: 50%;

}

// Actual Styles



.picky {

	width: 100%;
	float: left;

	&__container {

		width: 196px;
		position: absolute;
		top: calc(100% + 10px);
		right: 0;

		background: #272725;
		padding: 2px;

	}

	&__table {

		font-size: 12px;

		&--cell, &--heading {

			color: white;

			text-align: center;
			width: 28px;
			padding: 3px 3px;
			height: 25px;

		}

		&--heading {

			color: #47b5b3;

		}

		&--cell {

			cursor: pointer;

			&.active {

				color: #47b5b3;

			}
			
			&:hover {

				background: #47b5b3;
				color: white;
				border-radius: 50%;

			}

			&.disabled {

				opacity: 0.2;
				cursor: default;
				background: none;

			}

		}

	}

}