// Reset

* {

	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;

	-webkit-font-smoothing: antialiased;

}

input {

	outline: none;
	-webkit-appearance: none;
	-webkit-border-radius: none;

	border: 1px solid black;
	padding: 2px 5px;

	line-height: 18px;

}

body {

	padding: 20px;

}