// Reset

* {

	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;

	-webkit-font-smoothing: antialiased;

}

input {

	outline: none;
	-webkit-appearance: none;
	-webkit-border-radius: none;

	border: 1px solid black;
	padding: 2px 5px;

	line-height: 18px;

}

body {

	padding: 20px;
	font-family: 'Trebuchet MS';

}

.field-wrap {

	position: relative;
	float: left;
	width: 50%;

}

// Actual Styles



.picky {

	width: 100%;
	float: left;

	&__container {

		width: 200px;
		position: absolute;
		top: calc(100% + 10px);
		right: 0;

		background: #272725;

	}

	&__table {

		font-size: 12px;

		&--cell, &--heading {

			color: #272725;

			background: #e5e4e4;
			text-align: center;
			width: 8%;
			padding: 3px 3px;
			height: 26px;

		}

		&--heading {

			background: #47b5b3;
			color: white;

		}

		&--cell {

			cursor: pointer;

			&:hover, &.active {

				background: #47b5b3;
				color: white;

			}

			&.disabled {

				opacity: 0.4;
				cursor: default;
				background: #e5e4e4;

			}

		}

	}

}